force-app/main/default/flows/Add_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Choice1</name>
        <choiceText>Unit G1, 9 Steedman Street, LONDON, SE17 3AF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit G1, 9 Steedman Street, LONDON, SE17 3AF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unit G2, 9 Steedman Street, LONDON, SE17 3AF&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit G2, 9 Steedman Street, LONDON, SE17 3AF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unit G3, 9 Steedman Street, LONDON, SE17 3AF&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit G3, 9 Steedman Street, LONDON, SE17 3AF</stringValue>
        </value>
    </choices>
    <interviewLabel>Add Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Postcode</name>
        <label>Get Postcode</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Postcode_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLeadRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PostalCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Membership</name>
        <label>Update New Membership</label>
        <locationX>769</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <stringValue>LONDON</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <stringValue>SE17 3AF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <stringValue>Unit G1, 9 Steedman Street</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Postcode_Lookup</name>
        <label>Postcode Lookup</label>
        <locationX>322</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Address</targetReference>
        </connector>
        <fields>
            <name>House_Number</name>
            <dataType>Number</dataType>
            <fieldText>House Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varLeadRecord.PostalCode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Address</name>
        <label>Select Address</label>
        <locationX>563</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Membership</targetReference>
        </connector>
        <fields>
            <name>Select_Address1</name>
            <choiceReferences>Choice1</choiceReferences>
            <choiceReferences>Choice2</choiceReferences>
            <choiceReferences>Choice3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Postcode</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
