force-app/main/default/flows/Change_Membership_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Section_3</name>
        <label>Add to Section 3</label>
        <locationX>693</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>varSelectedSections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ALC:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCost</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Sections</name>
        <label>Add to Sections</label>
        <locationX>671</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>varSelectedSections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BG:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCost</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Caravanning_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Sections_2</name>
        <label>Add to Sections 2</label>
        <locationX>689</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>varSelectedSections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BCC:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCost</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lightweight_Selected_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceBoating</name>
        <choiceText>Boating Group - £6.50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BG</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCaravanners</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(243, 242, 242); color: rgb(22, 50, 92);&quot;&gt;British Caravanner&apos;s Club - £5.00&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BCC</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLightweightCampers</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(243, 242, 242); color: rgb(22, 50, 92);&quot;&gt;Association of Lightweight Campers - £6.00&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ALC</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Boating_Selected</name>
        <label>Boating Selected</label>
        <locationX>517</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Caravanning_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TrueBoating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkBoating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Sections</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caravanning_Selected</name>
        <label>Caravanning Selected</label>
        <locationX>517</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Lightweight_Selected_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TrueCaravanning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkCaravanners</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Sections_2</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lightweight_Selected_0</name>
        <label>Lightweight Selected</label>
        <locationX>519</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Update_New_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TrueLightweight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkCampers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Section_3</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varMembershipTypes2</name>
        <dataType>String</dataType>
        <displayField>New_Membership_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Code</stringValue>
            </value>
        </filters>
        <filters>
            <field>Show_in_New_Membership_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Club_Product__c</object>
        <outputAssignments>
            <assignToReference>varCost</assignToReference>
            <field>Price_for_Initial_Picklist__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varSections</name>
        <dataType>String</dataType>
        <displayField>Product_Detail__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Section</stringValue>
            </value>
        </filters>
        <object>Club_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Change Membership Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Options</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_New_Membership</name>
        <label>Update New Membership</label>
        <locationX>527</locationX>
        <locationY>592</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>varCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Code__c</field>
            <value>
                <elementReference>varMembershipTypes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sections__c</field>
            <value>
                <elementReference>varSelectedSections</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Select_Membership_Type</name>
        <label>Select Membership Type</label>
        <locationX>193</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Sections</targetReference>
        </connector>
        <fields>
            <name>Membership_Type</name>
            <choiceReferences>varMembershipTypes2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Membership Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Sections</name>
        <label>Select Sections</label>
        <locationX>352</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Boating_Selected</targetReference>
        </connector>
        <fields>
            <name>checkCampers</name>
            <dataType>Boolean</dataType>
            <fieldText>Association of Lightweight Campers - £6.00</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkCaravanners</name>
            <dataType>Boolean</dataType>
            <fieldText>British Caravanner&apos;s Club - £5.00</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>checkBoating</name>
            <dataType>Boolean</dataType>
            <fieldText>Boating Group - £6.50</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Membership_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedSections</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
