force-app/main/default/flows/DDI_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_Error</name>
        <label>Account Error</label>
        <locationX>1793</locationX>
        <locationY>866</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorAcc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ccc-ms@wipro365.onmicrosoft.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CCC: An Error has occurred with the DDI Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DDI_New_joiner</name>
        <label>DDI - New joiner</label>
        <locationX>724</locationX>
        <locationY>235</locationY>
        <actionName>Payment_Method__c.DDI_New_joiner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Payment_Method__c.DDI_New_joiner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DDI_Not_Within_Renewal</name>
        <label>DDI - Not Within Renewal</label>
        <locationX>717</locationX>
        <locationY>698</locationY>
        <actionName>Payment_Method__c.DDI_Not_Within_Renewal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Payment_Method__c.DDI_Not_Within_Renewal</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DDI_Within_Renewal_Opp</name>
        <label>DDI - Within Renewal - Opp</label>
        <locationX>1851</locationX>
        <locationY>375</locationY>
        <actionName>Opportunity.DDI_Within_Renewal_Opp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.DDI_Within_Renewal_Opp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DDI_Within_Renewal_Opp2</name>
        <label>DDI - Within Renewal - Opp</label>
        <locationX>1962</locationX>
        <locationY>510</locationY>
        <actionName>Opportunity.DDI_Within_Renewal_Opp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getRenewalOpp.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.DDI_Within_Renewal_Opp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DDI_Within_Renewal_PM</name>
        <label>DDI - Within Renewal - PM</label>
        <locationX>2127</locationX>
        <locationY>649</locationY>
        <actionName>Payment_Method__c.DDI_Within_Renewal_PM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>getPaymentMethod.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Payment_Method__c.DDI_Within_Renewal_PM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Error</name>
        <label>Opportunity Error</label>
        <locationX>864</locationX>
        <locationY>167</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorOpp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ccc-ms@wipro365.onmicrosoft.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CCC: An Error has occurred with the DDI Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payment_Method_Error</name>
        <label>Payment Method Error</label>
        <locationX>1131</locationX>
        <locationY>722</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>errorPM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ccc-ms@wipro365.onmicrosoft.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>CCC: An Error has occurred with the DDI Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>DDI_Trigger_Decision</name>
        <label>DDI Trigger Decision</label>
        <locationX>536</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Joiner_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExecutionDelay01</targetReference>
            </connector>
            <label>New Joiner (1)</label>
        </rules>
        <rules>
            <name>In_Renewal_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_RT_ID</targetReference>
            </connector>
            <label>In Renewal (2)</label>
        </rules>
        <rules>
            <name>Out_Renewal_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execution_Delay_02</targetReference>
            </connector>
            <label>Out Renewal (3)</label>
        </rules>
        <rules>
            <name>Change_Trigger_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPaymentMethodDDRT</targetReference>
            </connector>
            <label>Change Trigger (4)</label>
        </rules>
    </decisions>
    <decisions>
        <description>We have different results depending on the process that originated the flow.</description>
        <name>Path_Selection</name>
        <label>Path Selection</label>
        <locationX>1381</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Lapsed Process</defaultConnectorLabel>
        <rules>
            <name>Within_Renewal_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRenewalOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOpportunity2</targetReference>
            </connector>
            <label>Within Renewal - (2)</label>
        </rules>
        <rules>
            <name>Lapsed_Within_Renewal_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRenewalOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactRTID</targetReference>
            </connector>
            <label>Lapsed Within Renewal (2)</label>
        </rules>
        <rules>
            <name>Change_Button_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPaymentMethod.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOpportunity</targetReference>
            </connector>
            <label>Change Button (4)</label>
        </rules>
    </decisions>
    <description>Merged the two flows into one</description>
    <formulas>
        <description>The minimum delay that we can set is an hour, therefore, I created a formula field that holds the current time minus 55 minutes. We then set the delay to proceed an hour after this value.</description>
        <name>MinutesAgo55</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/26.2)</expression>
    </formulas>
    <interviewLabel>DDI Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow] DDI Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves the record type ID of the Renewal Opportunity record type.</description>
        <name>Get_Opportunity_RT_ID</name>
        <label>getOpportunityRTID</label>
        <locationX>797</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRenewalOpp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type ID for the Lead contact record type</description>
        <name>getContactRTID</name>
        <label>getContactRTID</label>
        <locationX>1712</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLeadContact</name>
        <label>getLeadContact</label>
        <locationX>1870</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updatePaymentMethod</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContactRTID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Active, Direct Debit, payment method record from the related membership</description>
        <name>getPaymentMethod</name>
        <label>getPaymentMethod</label>
        <locationX>1204</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Path_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Payment_Method_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPaymentMethodDDRT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the record type ID of the Direct Debit, Payment Method record type.</description>
        <name>getPaymentMethodDDRT</name>
        <label>getPaymentMethodDDRT</label>
        <locationX>1060</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPaymentMethod</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Payment_Method_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct_Debit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment_Method__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the open (Stage Due) renewal opportunity from the related membership</description>
        <name>getRenewalOpp</name>
        <label>getRenewalOpp</label>
        <locationX>937</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPaymentMethodDDRT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_RT_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Due</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Member Details on Opportunity</description>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>1708</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>DDI_Within_Renewal_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DDIBankAccountNumber__c</field>
            <value>
                <elementReference>getPaymentMethod.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadEmail__c</field>
            <value>
                <elementReference>varLeadEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadMemberLastName__c</field>
            <value>
                <elementReference>varLeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadMemberSalutation__c</field>
            <value>
                <elementReference>varLeadMemberSalutation</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Member Details on Opportunity</description>
        <name>updateOpportunity2</name>
        <label>updateOpportunity</label>
        <locationX>1824</locationX>
        <locationY>509</locationY>
        <connector>
            <targetReference>DDI_Within_Renewal_Opp2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRenewalOpp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DDIBankAccountNumber__c</field>
            <value>
                <elementReference>getPaymentMethod.Bank_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadEmail__c</field>
            <value>
                <elementReference>getRenewalOpp.Account.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadMemberLastName__c</field>
            <value>
                <elementReference>getPaymentMethod.Member_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadMemberSalutation__c</field>
            <value>
                <elementReference>getPaymentMethod.Member_Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Member Details on PM</description>
        <name>updatePaymentMethod</name>
        <label>updatePaymentMethod</label>
        <locationX>2002</locationX>
        <locationY>649</locationY>
        <connector>
            <targetReference>DDI_Within_Renewal_PM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Member__c</field>
            <value>
                <elementReference>getLeadContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>127</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>DDI_Trigger_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Use as a body template in the Fault email actions</description>
        <name>errorAcc</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;RESOURCE VALUES&lt;/p&gt;&lt;p&gt;Renewal Opportunity ID: {!getRenewalOpp.Id}&lt;/p&gt;&lt;p&gt;Membrship ID: {!varAccountID}&lt;/p&gt;&lt;p&gt;Membership Number: {!varMembershipNumber}&lt;/p&gt;&lt;p&gt;Payment Method: {!varPaymentMethosID}&lt;/p&gt;&lt;p&gt;Selection: {!templateSelection}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Use as a body template in the Fault email actions</description>
        <name>errorOpp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;RESOURCE VALUES &lt;/p&gt;&lt;p&gt;Renewal Opportunity ID: {!getRenewalOpp.Id}&lt;/p&gt;&lt;p&gt;Membrship ID: {!varAccountID}&lt;/p&gt;&lt;p&gt;Membership Number: {!varMembershipNumber}&lt;/p&gt;&lt;p&gt;Payment Method: {!varPaymentMethosID}&lt;/p&gt;&lt;p&gt;Selection: {!templateSelection}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Use as a body template in the Fault email actions</description>
        <name>errorPM</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;RESOURCE VALUES &lt;/p&gt;&lt;p&gt;Renewal Opportunity ID: {!getRenewalOpp.Id}&lt;/p&gt;&lt;p&gt;Membrship ID: {!varAccountID}&lt;/p&gt;&lt;p&gt;Membership Number: {!varMembershipNumber}&lt;/p&gt;&lt;p&gt;Payment Method: {!varPaymentMethosID}&lt;/p&gt;&lt;p&gt;Selection: {!templateSelection}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>paymentMethodID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateSelection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadMemberSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMembershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPaymentMethosID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Execution_Delay_02</name>
        <label>Execution Delay</label>
        <locationX>542</locationX>
        <locationY>689</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Five_Minute_02</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>DDI_Not_Within_Renewal</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>MinutesAgo55</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Five Minute</label>
        </waitEvents>
    </waits>
    <waits>
        <name>ExecutionDelay01</name>
        <label>Execution Delay</label>
        <locationX>553</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Five_Minute_01</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>DDI_New_joiner</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>MinutesAgo55</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Five Minute</label>
        </waitEvents>
    </waits>
</Flow>
