force-app/main/default/flows/Flow_Update_Parent_ID_on_a_New_Case_With_Same_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Is the Created Date of the Related Cases &gt; New Case?</description>
        <name>Is_Created_Date_New_Case</name>
        <label>Is Created Date &gt; New Case</label>
        <locationX>532</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_this_the_Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedCase.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varCase.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCase</targetReference>
            </connector>
            <label>Is this the Parent Case?</label>
        </rules>
    </decisions>
    <description>Update the Parent ID field on a new case, when another case has been opened on the same day with the same contact, type and reason</description>
    <formulas>
        <description>grabs the created date from date time field</description>
        <name>formCaseCreatedDate</name>
        <dataType>Date</dataType>
        <expression>{!varCase.CreatedDate}</expression>
    </formulas>
    <interviewLabel>[Flow] Update Parent ID on a New Case With Same Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow] Update Parent ID on a New Case With Same Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get case that started the process</description>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>205</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>CaseCategory__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CreatedDate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get any cases created the same day with the same Case Type and Category</description>
        <name>getRelatedCases</name>
        <label>getRelatedCases</label>
        <locationX>348</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Created_Date_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.CaseCategory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.CreatedDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCase.Type</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varRelatedCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update Case</description>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>539</locationX>
        <locationY>255</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varRelatedCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>getCase</startElementReference>
    <status>Active</status>
    <variables>
        <description>case that started the process</description>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>case ID of the case that started the process</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>single variable for related case</description>
        <name>varRelatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
