force-app/main/default/flows/Flow_Create_new_case_from_closed_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignNewCaseInfo</name>
        <label>assignNewCaseInfo</label>
        <locationX>907</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varOriginalCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEmailMessage.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOriginalCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEmailMessage.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOriginalCase.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>createNewCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>caseDetails</name>
        <label>caseDetails</label>
        <locationX>735</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varOriginalCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewCaseInfo</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formSubject</name>
        <dataType>String</dataType>
        <expression>LEFT({!getEmailMessage.Subject},FIND(&quot;[&quot;, {!getEmailMessage.Subject}) - 1)</expression>
    </formulas>
    <interviewLabel>[Flow] Create new case from closed case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow] Create new case from closed case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEmailMessage</name>
        <label>createEmailMessage</label>
        <locationX>1088</locationX>
        <locationY>230</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>getEmailMessage.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varOriginalCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>getEmailMessage.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>getEmailMessage.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>createNewCase</name>
        <label>createNewCase</label>
        <locationX>1088</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>createEmailMessage</targetReference>
        </connector>
        <inputReference>varOriginalCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>583</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEmailMessage.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Additional_notes__c</queriedFields>
        <queriedFields>BusinessArea__c</queriedFields>
        <queriedFields>CaseCategory__c</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ContactMobile</queriedFields>
        <queriedFields>ContactPhone</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailMessage</name>
        <label>getEmailMessage</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TextBody</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>ToAddress</queriedFields>
        <queriedFields>FromAddress</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getEmailMessage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>New incoming email message ID</description>
        <name>varEmailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOriginalCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
