force-app/main/default/flows/Flow_Case_Escalation_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Notification</name>
        <label>Chatter Notification</label>
        <locationX>1538</locationX>
        <locationY>35</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!getManagerEmail.Id}] A Tier 1 case is been escalated to you .</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0</name>
        <label>Chatter Notification</label>
        <locationX>1540</locationX>
        <locationY>148</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!getManagerEmail.Id}] A Tier 2 case is been escalated to you .</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0_0</name>
        <label>Chatter Notification</label>
        <locationX>1547</locationX>
        <locationY>285</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!getManagerEmail.Id}] A Tier 3 case is been escalated to you .</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0_0_0</name>
        <label>Chatter Notification</label>
        <locationX>1551</locationX>
        <locationY>393</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!getDonna.Id}], this case owner does not have a manager assigned, so this Tier 1 case is been escalated to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0_0_0_0</name>
        <label>Chatter Notification</label>
        <locationX>1571</locationX>
        <locationY>500</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!getDonna.Id}] Hi Donna Beech, this case owner does not have a manager assigned, so this Tier 2 case is been escalated to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Notification_0_0_0_0_0</name>
        <label>Chatter Notification</label>
        <locationX>1568</locationX>
        <locationY>625</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!getDonna.Id}] Hi Donna Beech, this case owner does not have a manager assigned, so this Tier 3 case is been escalated to you.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getCases.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Check that the user has manager</description>
        <name>Check_user_manager</name>
        <label>Check user manager</label>
        <locationX>823</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>getDonna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUser.ManagerId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getManagerEmail</targetReference>
            </connector>
            <label>Has Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Level</name>
        <label>Escalation Level</label>
        <locationX>1154</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Tier1Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>updateCaseTier1</targetReference>
            </connector>
            <label>Tier 1</label>
        </rules>
        <rules>
            <name>Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Tier1Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier2Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>updateCaseTier2</targetReference>
            </connector>
            <label>Tier 2</label>
        </rules>
        <rules>
            <name>Tier_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Tier1Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier2Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier3Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>updateCaseTier3</targetReference>
            </connector>
            <label>Tier 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Level_0</name>
        <label>Escalation Level</label>
        <locationX>1153</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Tier1Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>updateCaseTier1_0</targetReference>
            </connector>
            <label>Tier 1</label>
        </rules>
        <rules>
            <name>Tier_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Tier1Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier2Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier1Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getDonna.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaseTier2_0</targetReference>
            </connector>
            <label>Tier 2</label>
        </rules>
        <rules>
            <name>Tier_3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCases.Tier1Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier2Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier3Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCases.Tier2Escalation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getDonna.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaseTier3_0</targetReference>
            </connector>
            <label>Tier 3</label>
        </rules>
    </decisions>
    <description>Flow for escalating cases based on the current user&apos;s manager</description>
    <environments>Default</environments>
    <formulas>
        <name>formCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>[Flow] Case Escalation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow] Case Escalation Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCases</name>
        <label>getCases</label>
        <locationX>390</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tier1Escalation__c</queriedFields>
        <queriedFields>Tier2Escalation__c</queriedFields>
        <queriedFields>Tier3Escalation__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDonna</name>
        <label>getDonna</label>
        <locationX>832</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Level_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donnab</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getManagerEmail</name>
        <label>getManagerEmail</label>
        <locationX>1009</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalation_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUser.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Username</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>640</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_user_manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCases.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCaseTier1</name>
        <label>updateCaseTier1</label>
        <locationX>1426</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Chatter_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier1Escalation__c</field>
            <value>
                <elementReference>getUser.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseTier1_0</name>
        <label>updateCaseTier1</label>
        <locationX>1452</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>Chatter_Notification_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier1Escalation__c</field>
            <value>
                <elementReference>getDonna.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseTier2</name>
        <label>updateCaseTier2</label>
        <locationX>1428</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Chatter_Notification_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier2Escalation__c</field>
            <value>
                <elementReference>getUser.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseTier2_0</name>
        <label>updateCaseTier2</label>
        <locationX>1453</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Chatter_Notification_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier2Escalation__c</field>
            <value>
                <elementReference>getDonna.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseTier3</name>
        <label>updateCaseTier3</label>
        <locationX>1427</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Chatter_Notification_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier3Escalation__c</field>
            <value>
                <elementReference>getUser.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseTier3_0</name>
        <label>updateCaseTier3</label>
        <locationX>1451</locationX>
        <locationY>610</locationY>
        <connector>
            <targetReference>Chatter_Notification_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier3Escalation__c</field>
            <value>
                <elementReference>getDonna.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>getCases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
