force-app/main/default/flows/Flow_Add_Promo_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_promo_code</name>
        <label>Assign promo code</label>
        <locationX>683</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>varPromoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Re_Promo_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Promo_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Promo_code_to_variable</name>
        <label>Assign Promo code to variable</label>
        <locationX>566</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>varPromoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promo_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Promo_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_promo_code_variable</name>
        <label>Clear promo code variable</label>
        <locationX>911</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>varPromoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBlankVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Re_Enter_code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Used to see the there are any codes still available</description>
        <name>Code_available</name>
        <label>Code available ?</label>
        <locationX>1062</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_a_code_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode.Number_of_Valid_Codes__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Membership</targetReference>
            </connector>
            <label>There is a code available</label>
        </rules>
        <rules>
            <name>There_isnt_a_code_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode.Number_of_Valid_Codes__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_More_Codes</targetReference>
            </connector>
            <label>There isnt a code available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Current date falls within the valid from and expiry date</description>
        <name>Codes_date_valid</name>
        <label>Codes date valid ?</label>
        <locationX>1057</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>voucher_code_date_is_valid</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_From__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Expiry_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Expiry_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Code_has_expired</targetReference>
            </connector>
            <label>voucher code expiry has past</label>
        </rules>
        <rules>
            <name>voucher_code_isnt_valid_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_From__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Code_not_valid_yet</targetReference>
            </connector>
            <label>voucher code isnt valid yet</label>
        </rules>
        <rules>
            <name>Voucher_code_is_valid</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_From__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Expiry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Expiry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_From__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPromoCode.Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Code_available</targetReference>
            </connector>
            <label>Voucher code is valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if a promo code exists</description>
        <name>Has_Code_been_found</name>
        <label>Code been found ?</label>
        <locationX>902</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_promo_code_hasnt_been_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_promo_code_variable</targetReference>
            </connector>
            <label>A promo code hasnt been found</label>
        </rules>
        <rules>
            <name>A_promo_code_has_been_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_for_Member</targetReference>
            </connector>
            <label>A promo code has been found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there is a membership code before progressing with adding a promo code</description>
        <name>Member_code_exists</name>
        <label>Member code exists</label>
        <locationX>376</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_code_doesnt_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreNewMemberShipID.Membership_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Required</targetReference>
            </connector>
            <label>Membership code doesnt exist</label>
        </rules>
        <rules>
            <name>Membership_code_does_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreNewMemberShipID.Membership_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Promo_code_to_variable</targetReference>
            </connector>
            <label>Membership code does exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the users membership code is valid for the promo code used</description>
        <name>Valid_for_Member</name>
        <label>Valid for Member ?</label>
        <locationX>1064</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Not_a_Member_code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>membership_code_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPromoCode.Valid_for_Memberships__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>StoreNewMemberShipID.Membership_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Codes_date_valid</targetReference>
            </connector>
            <label>membership code is valid</label>
        </rules>
    </decisions>
    <description>Add a promo code to the new membership.</description>
    <interviewLabel>[Flow] Add Promo Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Promo Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Lookup the new membership fields that are needed</description>
        <name>Find_membership</name>
        <label>Find membership</label>
        <locationX>264</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_code_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>StoreNewMemberShipID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Membership_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Promo_Codes</name>
        <label>Get Promo Codes</label>
        <locationX>685</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Code_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPromoCode</elementReference>
            </value>
        </filters>
        <object>Promotional_Code__c</object>
        <outputReference>GetPromoCode</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Expiry_Date__c</queriedFields>
        <queriedFields>Number_Allowed__c</queriedFields>
        <queriedFields>Number_of_Valid_Codes__c</queriedFields>
        <queriedFields>Number_Used__c</queriedFields>
        <queriedFields>Valid_From__c</queriedFields>
        <queriedFields>Valid_for_Memberships__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Membership</name>
        <label>Update New Membership</label>
        <locationX>871</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Voucher_Code__c</field>
            <value>
                <elementReference>varPromoCode</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <description>Insert promo code.</description>
        <name>Add_Promo_Code</name>
        <label>Add Promo Code</label>
        <locationX>157</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_membership</targetReference>
        </connector>
        <fields>
            <name>Promo_Code</name>
            <dataType>String</dataType>
            <fieldText>Promo Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Code_has_expired</name>
        <label>Code has expired</label>
        <locationX>1275</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Promo_code_expiry_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 6, 6); font-size: 14px;&quot;&gt;Expiry date on this Promo code is not valid&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Code_not_valid_yet</name>
        <label>Code not valid yet</label>
        <locationX>1270</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Promo_code_isnt_valid_yet</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(244, 0, 0);&quot;&gt;Promo code is only valid from {!GetPromoCode.Valid_From__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Membership_Required</name>
        <label>Membership Required</label>
        <locationX>260</locationX>
        <locationY>259</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Promo_Code</targetReference>
        </connector>
        <fields>
            <name>Membership_Code_not_entered</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(221, 14, 14); font-size: 14px;&quot;&gt;You require a membership code before progressing with adding a promo code&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_More_Codes</name>
        <label>No More Codes</label>
        <locationX>1271</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Valid_codes_have_gone</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(231, 6, 6);&quot;&gt;Number of valid codes is 0.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_a_Member_code</name>
        <label>Not a Member code</label>
        <locationX>1281</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Promo_code_not_valid_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 12, 12); font-size: 14px;&quot;&gt;Promo code is not vaild for  {!StoreNewMemberShipID.Membership_Code__c} type of membership&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Insert promo code.</description>
        <name>Re_Enter_code</name>
        <label>Re-Enter code</label>
        <locationX>799</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_promo_code</targetReference>
        </connector>
        <fields>
            <name>Re_Promo_Code</name>
            <dataType>String</dataType>
            <fieldText>Promo Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Promo_Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 7, 7);&quot;&gt;Promo code does not exist &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>647</locationX>
        <locationY>422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Promo code {!varPromoCode} validated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Add_Promo_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetPromoCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Promotional_Code__c</objectType>
    </variables>
    <variables>
        <name>StoreNewMemberShipID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varBlankVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPromoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
