force-app/main/default/flows/Flow_Take_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Payment_Method_Selected</name>
        <label>Payment Method Selected</label>
        <locationX>358</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>ErrorMEssage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Direct_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_Debit_Details</targetReference>
            </connector>
            <label>Direct Debit</label>
        </rules>
        <rules>
            <name>Credit_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit/Credit Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifone_Placeholder</targetReference>
            </connector>
            <label>Credit/Debit</label>
        </rules>
        <rules>
            <name>Cash_Cheque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash/Cheque</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Success</targetReference>
            </connector>
            <label>Cash/Cheque</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varPaymentTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Take Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Take Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_New_Membership</name>
        <label>Update New Membership</label>
        <locationX>1154</locationX>
        <locationY>319</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bank_Account_Name__c</field>
            <value>
                <elementReference>Bank_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>Bank_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>varPaymentTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Code__c</field>
            <value>
                <elementReference>Sort_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Direct_Debit_Details</name>
        <label>Direct Debit Details</label>
        <locationX>707</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Success</targetReference>
        </connector>
        <fields>
            <name>Bank_Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Bank Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bank_Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Bank Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sort_Code</name>
            <dataType>String</dataType>
            <fieldText>Sort Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bank_Name</name>
            <dataType>String</dataType>
            <fieldText>Bank Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMEssage</name>
        <label>ErrorMEssage</label>
        <locationX>168</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Please select a valid payment method.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Success</name>
        <label>Payment Success</label>
        <locationX>960</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_New_Membership</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Payment taken successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Type</name>
        <label>Select Payment Type</label>
        <locationX>203</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Method_Selected</targetReference>
        </connector>
        <fields>
            <name>Payment_Method</name>
            <choiceReferences>varPaymentTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verifone_Placeholder</name>
        <label>Verifone Placeholder</label>
        <locationX>616</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Success</targetReference>
        </connector>
        <fields>
            <name>Placeholder</name>
            <fieldText>&lt;p&gt;Placeholder for Verifone.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Payment_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
