force-app/main/default/flows/Hopewiser_Postcode_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hopewiser_Postcode_Search_Callout</name>
        <label>Hopewiser Postcode Search Callout</label>
        <locationX>492</locationX>
        <locationY>222</locationY>
        <actionName>AddressLookupController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>AddressCalloutParameter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddressLookupController</nameSegment>
        <outputParameters>
            <assignToReference>PostcodeSearchResults</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Create_Apex_Parameter</name>
        <label>Create Apex Parameter</label>
        <locationX>322</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>AddressCalloutParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressCalloutParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-----</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressCalloutParameter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HouseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hopewiser_Postcode_Search_Callout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Display_Text</name>
        <label>Generate Display Text</label>
        <locationX>1007</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>AddressDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_to_true</name>
        <label>Set error to true</label>
        <locationX>1009</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>apexThrownError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Error_In_Results</name>
        <label>Error In Results</label>
        <locationX>656</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Address_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoError</defaultConnectorLabel>
        <rules>
            <name>HasError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexThrownError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_searching_for_addresses</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Apex_Returned_Error</name>
        <label>Has Apex Returned Error?</label>
        <locationX>904</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Generate_Display_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No error</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No results found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid parameters</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apexThrownError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_error_to_true</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <interviewLabel>Hopewiser Postcode Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hopewiser Postcode Search</label>
    <loops>
        <name>Create</name>
        <label>Create</label>
        <locationX>665</locationX>
        <locationY>222</locationY>
        <assignNextValueToReference>LoopVar</assignNextValueToReference>
        <collectionReference>PostcodeSearchResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Apex_Returned_Error</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Error_In_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Postcode</name>
        <label>Get Postcode</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Postcode_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLeadRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PostalCode</queriedFields>
    </recordLookups>
    <screens>
        <name>Address_Results</name>
        <label>Address Results</label>
        <locationX>803</locationX>
        <locationY>547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddressPicklist</name>
            <extensionName>c:AddressLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputAddresses</name>
                <value>
                    <elementReference>AddressDisplayText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_searching_for_addresses</name>
        <label>Error searching for addresses</label>
        <locationX>514</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorResults</name>
            <fieldText>&lt;p&gt;{!ErrorText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Postcode_Lookup</name>
        <label>Postcode Lookup</label>
        <locationX>322</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Apex_Parameter</targetReference>
        </connector>
        <fields>
            <name>HouseNumber</name>
            <dataType>String</dataType>
            <fieldText>House Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varLeadRecord.PostalCode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Postcode</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>LineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!EmptyString}
{!EmptyString}</text>
    </textTemplates>
    <variables>
        <name>AddressCalloutParameter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexThrownError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostcodeSearchResults</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
