force-app/main/default/flows/Pricing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_sections_pricing</name>
        <label>Find sections pricing</label>
        <locationX>700</locationX>
        <locationY>500</locationY>
        <actionName>NewMembershipUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Total_Plus_Sections</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sectionLists</name>
            <value>
                <elementReference>VarNewMembership.sections__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewMembershipUtil</nameSegment>
        <outputParameters>
            <assignToReference>varSectionsPricing</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Adds the Associate price to the total</description>
        <name>Add_Associate_price</name>
        <label>Add Assoc price</label>
        <locationX>360</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecAssociatePrice.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checks_For_Sections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds membership price to the total</description>
        <name>Add_member_price</name>
        <label>Add member price</label>
        <locationX>682</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProductCode.Price_for_Initial_Picklist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the total price value to the membership amount field</description>
        <name>Member_price_assign</name>
        <label>Membership price</label>
        <locationX>520</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>VarNewMembership.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Plus_Sections</name>
        <label>Total Plus Sections</label>
        <locationX>698</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>varTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSectionsPricing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_price_assign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if a Associate price record has been found</description>
        <name>Associate_price_exist</name>
        <label>Assoc price exist?</label>
        <locationX>356</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_does_exist_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecAssociatePrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Associate_price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Record_doesnt_exist_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecAssociatePrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checks_For_Sections</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if there is an associate against the new membership record</description>
        <name>Check_for_Associate</name>
        <label>Associates Exists ?</label>
        <locationX>518</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_an_Associate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNewMembership.hasAssociate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associate_Price</targetReference>
            </connector>
            <label>They do</label>
        </rules>
        <rules>
            <name>There_isnt_an_Associate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNewMembership.hasAssociate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checks_For_Sections</targetReference>
            </connector>
            <label>They dont</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if there is any sections against the record</description>
        <name>Checks_For_Sections</name>
        <label>Sections Exist ?</label>
        <locationX>514</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sections_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNewMembership.sections__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_sections_pricing</targetReference>
            </connector>
            <label>They do</label>
        </rules>
        <rules>
            <name>Sections_dont_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNewMembership.sections__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_price_assign</targetReference>
            </connector>
            <label>They dont</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a product price record has been found</description>
        <name>Product_price_exist</name>
        <label>Product price exist?</label>
        <locationX>676</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_does_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_member_price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Record_doesnt_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Associate</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if there is a promo code</description>
        <name>Promo_code_exists</name>
        <label>Promo code exists ?</label>
        <locationX>517</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_promo_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNewMembership.Voucher_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_product_price</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>There_is_a_promo_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNewMembership.Voucher_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Associate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used for the total cost</description>
    <interviewLabel>Pricing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Membership</name>
        <label>Find Membership</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promo_code_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>VarNewMembership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Membership_Code__c</queriedFields>
        <queriedFields>Voucher_Code__c</queriedFields>
        <queriedFields>hasAssociate__c</queriedFields>
        <queriedFields>sections__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_product_price</name>
        <label>Find product price</label>
        <locationX>797</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_price_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMembershipTypeName</elementReference>
            </value>
        </filters>
        <object>Club_Product__c</object>
        <outputReference>varProductCode</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price_for_Initial_Picklist__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Associate_Price</name>
        <label>Get Associate Price</label>
        <locationX>364</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associate_price_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Associate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Price__c</object>
        <outputReference>RecAssociatePrice</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership</name>
        <label>Update Membership</label>
        <locationX>520</locationX>
        <locationY>758</locationY>
        <inputReference>VarNewMembership</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Membership</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>RecAssociatePrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Price__c</objectType>
    </variables>
    <variables>
        <name>varMembershipTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarNewMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varProductCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Club_Product__c</objectType>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSectionsPricing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
