force-app/main/default/flows/RTF_Membership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Prior_Status</name>
        <label>Check Prior Status</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_was_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email</targetReference>
            </connector>
            <label>Prior was Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Status</name>
        <label>Membership Status</label>
        <locationX>490</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ex_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ex-Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ex_Member_Deletion_Date</targetReference>
            </connector>
            <label>Ex-Member</label>
        </rules>
        <rules>
            <name>Lapsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lapsed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Prior_Status</targetReference>
            </connector>
            <label>Lapsed</label>
        </rules>
    </decisions>
    <description>Record trigger flow that handles any quick updates on the membership record</description>
    <environments>Default</environments>
    <formulas>
        <name>forDeletionDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 24)</expression>
    </formulas>
    <formulas>
        <name>forMemberEmail</name>
        <dataType>String</dataType>
        <expression>If( ISBLANK({!Loop_Members.Email}),{!Loop_Members.Email},{!Loop_Members.Email} &amp;&quot;.lapsed&quot;)</expression>
    </formulas>
    <formulas>
        <name>forMembershipEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email__c}&amp;&quot;.lapsed&quot;</expression>
    </formulas>
    <interviewLabel>RTF - Membership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Membership</label>
    <loops>
        <name>Loop_Members</name>
        <label>Loop Members</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_all_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Members</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_members</name>
        <label>Get all members</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Here we are updating the Email of a membership to example@example.com</description>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_all_members</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>forMembershipEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ex_Member_Deletion_Date</name>
        <label>Update Ex-Member Deletion Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Ex_Member_Deletion_Date__c</field>
            <value>
                <elementReference>forDeletionDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Members</name>
        <label>Update Members</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Members.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>forMemberEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Membership_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
