force-app/main/default/flows/Scheduled_Flow_Ex_Member_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>138</locationX>
        <locationY>4428</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Handler1</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>4728</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunities failed to update.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Handler_Cancellations</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>3714</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellations failed to delete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Handler_Cases</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>1290</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cases failed to delete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Payment_Methods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Handler_Correspondence</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correspondence failed to delete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Handler_Membership</name>
        <label>Error Handler</label>
        <locationX>710</locationX>
        <locationY>5268</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Membership failed to delete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Handler_Opp_Products</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>3108</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Club Products failed to delete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Cancellations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Handler_Payment_Methods</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>1896</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Methods failed to delete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Handler_Tasks</name>
        <label>Error Handler</label>
        <locationX>314</locationX>
        <locationY>2502</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tasks failed to delete.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Club_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Oppy_StageName</name>
        <label>Update Oppy StageName</label>
        <locationX>138</locationX>
        <locationY>4320</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Stage_Before_Deletion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_1.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Due</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cancellations_Exist</name>
        <label>Cancellations Exist?</label>
        <locationX>314</locationX>
        <locationY>3498</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Cancellations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cancellations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Cancellations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Exist</name>
        <label>Cases Exist?</label>
        <locationX>314</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Methods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Cases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Club_Products_Exists</name>
        <label>Club Products Exists?</label>
        <locationX>314</locationX>
        <locationY>2892</locationY>
        <defaultConnector>
            <targetReference>Get_Cancellations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Club_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Club_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Club_Opportunity_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Correspondance_Exist</name>
        <label>Correspondance Exist?</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Get_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Correspondance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Correspondance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Correspondence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Errors_Occured</name>
        <label>Errors Occured</label>
        <locationX>314</locationX>
        <locationY>5052</locationY>
        <defaultConnector>
            <targetReference>Delete_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varErrorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Exist</name>
        <label>Membership Exist</label>
        <locationX>644</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesMembershipExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Correspondance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunities_Exist</name>
        <label>Opportunities Exist?</label>
        <locationX>314</locationX>
        <locationY>4104</locationY>
        <defaultConnector>
            <targetReference>Errors_Occured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Methods_Exist</name>
        <label>Payment Methods Exist?</label>
        <locationX>314</locationX>
        <locationY>1680</locationY>
        <defaultConnector>
            <targetReference>Get_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Methods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Payment_Methods</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tasks_Exist</name>
        <label>Tasks Exist</label>
        <locationX>314</locationX>
        <locationY>2286</locationY>
        <defaultConnector>
            <targetReference>Get_Club_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Error Handling</description>
    <environments>Default</environments>
    <formulas>
        <name>forMembershipDetails</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos;-&apos; + {!$Record.Membership_Number__c} + &apos;-&apos; + {!$Record.AS400_ID__c}</expression>
    </formulas>
    <interviewLabel>Scheduled Flow - Ex Member Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Ex Member Deletion</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>50</locationX>
        <locationY>4212</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Oppy_StageName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Cancellations</name>
        <label>Delete Cancellations</label>
        <locationX>50</locationX>
        <locationY>3606</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Cancellations</targetReference>
        </faultConnector>
        <inputReference>Get_Cancellations</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Cases</name>
        <label>Delete Cases</label>
        <locationX>50</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>Get_Payment_Methods</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Cases</targetReference>
        </faultConnector>
        <inputReference>Get_Cases</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Club_Opportunity_Product</name>
        <label>Delete Club Opportunity Product</label>
        <locationX>50</locationX>
        <locationY>3000</locationY>
        <connector>
            <targetReference>Get_Cancellations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Opp_Products</targetReference>
        </faultConnector>
        <inputReference>Get_Club_Products</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Correspondence</name>
        <label>Delete Correspondence</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Correspondence</targetReference>
        </faultConnector>
        <inputReference>Get_Correspondance</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Membership</name>
        <label>Delete Membership</label>
        <locationX>446</locationX>
        <locationY>5160</locationY>
        <faultConnector>
            <targetReference>Error_Handler_Membership</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Payment_Methods</name>
        <label>Delete Payment Methods</label>
        <locationX>50</locationX>
        <locationY>1788</locationY>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Payment_Methods</targetReference>
        </faultConnector>
        <inputReference>Get_Payment_Methods</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>50</locationX>
        <locationY>2394</locationY>
        <connector>
            <targetReference>Get_Club_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler_Tasks</targetReference>
        </faultConnector>
        <inputReference>Get_Tasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cancellations</name>
        <label>Get Cancellations</label>
        <locationX>314</locationX>
        <locationY>3390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancellations_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cancellation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>314</locationX>
        <locationY>966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Club_Products</name>
        <label>Get Club Products</label>
        <locationX>314</locationX>
        <locationY>2784</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Club_Products_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Club_Opportunity_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Correspondance</name>
        <label>Get Correspondance</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correspondance_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Correspondence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>314</locationX>
        <locationY>3996</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Methods</name>
        <label>Get Payment Methods</label>
        <locationX>314</locationX>
        <locationY>1572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Methods_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>314</locationX>
        <locationY>2178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>5160</locationY>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>varErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>4620</locationY>
        <connector>
            <targetReference>Errors_Occured</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handler1</targetReference>
        </faultConnector>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Membership_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ready_for_Deletion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-16</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>colMembershipInfo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
