force-app/main/default/flows/Update_renewal_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Migrated from the: Update renewal Date workflow rule
Workflow rule description: &quot;</description>
    <label>Update renewal Date</label>
    <migratedFromWorkflowRuleName>Update renewal Date</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>$Record.Membership__r.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ScheduledPath1Update</name>
        <label>ScheduledPath1Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>$Record.Membership__r.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <filterFormula>TEXT({!$Record.Correspondence_Type__c}) &lt;&gt; &apos;Renewal&apos;</filterFormula>
        <object>Correspondence__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>ScheduledPath1Update</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
